<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.admin.mapper.AdminMapper">
  
  	<select id="getInqList" resultType="InquiryVO">
  	
  		select * from inquiry
  	</select>
  	<select id="getInq" resultType="InquiryVO">
  		select * from inquiry where id=#{id}
  	</select>
  		<update id="updateInq">
  			update inquiry set reply=#{reply} where id=#{id}
  		</update>
  		<select id="getListWithPaging" resultType="AproductVO">
		<![CDATA[
			select * from product where prod_pass = 'F'
	    ]]>
	</select>
		<select id="getArtistInfo" resultType="ArtistVO">
		select * from artist where artist_pass = 'F'
		</select>
	<select id="read" resultType="AproductVO">
		 select * from product where prod_no=#{prod_no}
	</select>
  
  	<update id="updatePass">
  		update product set prod_pass = 'T'
		WHERE prod_no = #{prod_no}
  	</update>
  	
  	<update id="updateRefues">
  		update product set prod_pass = 'D'
		WHERE prod_no = #{prod_no}
  	</update>
  	
  	<select id="bringPro" resultType="AproductVO">
  		select prod_name,prod_artist,prod_price,prod_div from product where prod_no=#{prod_no}
  	</select>
  	
  		
  </mapper>